<link rel="stylesheet" href="@Html.CssUrl("profile.css")" />
<link rel="stylesheet" href="@Html.CssUrl("jquery.confirm.css")" />
<script src="@Html.ScriptUrl("jquery.confirm.js")"></script>
<div class="container" id="container">
    <!-- step bar panel -->
    <div class="row">
        <div class="col-lg-12 profile-top">
            <div class="card hovercard"
                 v-bind:style="bannerStyle">
                <div class="card-background">
                    @*<img class="card-bkimg" alt="" v-if="memberInfo.Image==''" v-bind:src="defaultBannerSrc">*@<!--default-->
                    <img class="card-bkimg" alt="" v-if="memberInfo.Image!=''" v-bind:src="'../Content/Image/'+memberInfo.Image">
                </div>
                <div class="useravatar" v-on:click="showMemberInfo" style="cursor:pointer">
                    <img class="card-bkimg" alt="" v-if="memberInfo.Image=='' " v-bind:src="defaultImageSrc"><!--default-->
                    <img class="card-bkimg" alt="" v-else v-bind:src="'../Content/Image/'+memberInfo.Image">
                </div>
                @*<div class="card-info"><span class="card-title">Pamela Anderson</span></div>*@
            </div>
            <!--tabs-->
            <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button type="button" id="medails-btn" class="btn btn-super" href="#medails-tab" data-toggle="tab">
                        <span class="fa fa-trophy" aria-hidden="true"></span>
                        <p class="hidden-xs">Medals</p>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="help-btn" class="btn btn-super-low" href="#help-tab" data-toggle="tab">
                        <span class="fa fa-handshake-o" aria-hidden="true"></span>
                        <p class="hidden-xs">Help</p>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="give-btn" class="btn btn-super-low" href="#give-tab" data-toggle="tab">
                        <span class="fa fa-heartbeat" aria-hidden="true"></span>
                        <p class="hidden-xs">Give</p>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="store-btn" class="btn btn-super-low" href="#store-tab" data-toggle="tab">
                        <span class="fa fa-shopping-cart" aria-hidden="true"></span>
                        <p class="hidden-xs">Store</p>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="history-help-btn" class="btn btn-super-low" href="#history-help-tab" data-toggle="tab">
                        <span class="fa fa-history" aria-hidden="true"></span>
                        <p class="hidden-xs">History Help</p>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="history-give-btn" class="btn btn-super-low" href="#history-give-tab" data-toggle="tab">
                        <span class="fa fa-history" aria-hidden="true"></span>
                        <p class="hidden-xs">History Give</p>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-lg-12 profile-content">
            <div class="well">
                <div class="tab-content">
                    <div class="row tab-pane fade active in" id="medails-tab">
                        <div class="col-lg-12 profile-list" v-for="medal in medals">
                            <div class="col-lg-2 profile_imgbox">
                                <a href="" title="">
                                    <img class="image-mission" v-bind:src="'../Content/Image/'+medal.Image" />
                                </a>
                            </div>
                            <div class="col-lg-10">
                                <div class="profile-content-detail">
                                    <a href="#" v-bind:title="medal.MedalName"></a>
                                    @*<span class="fire_left"></span>*@
                                    <p v-text="medal.MedalDescription.format(medal.MedalLimit)">完成 [居家 / 清潔] 100次</p>
                                </div>
                                <div class="profile-content-info">
                                    <img class="image-egg-small" src="~/Content/Image/egg2.png" /> 
                                    <span v-text="'x '+medal.Reward"></span>
                                    @*<button class="btn btn-super pull-right" v-bind:disabled="medal.Achieve" v-text="'獲得蛋蛋 X'+medal.Reward"></button>*@
                                </div>
                            </div>
                        </div>
                        @*<div class="col-lg-12 profile-list">
                            <div class="col-lg-2 profile_imgbox">
                                <a href="" title="">
                                    <img class="image-mission" src="~/Content/Image/medail-gold-house.svg" />
                                </a>
                            </div>
                            <div class="col-lg-10">
                                <div class="profile-content-detail">
                                    <a href="#" title="[居家 / 清潔] [金]">[居家 / 清潔] [金]</a>
                                    <span class="fire_left">2016-10-27 08:56:00</span>
                                    <p>完成 [居家 / 清潔] 100次</p>
                                </div>
                                <div class="profile-content-info">
                                    <img class="image-egg-small" src="~/Content/Image/egg2.png" /> <span>x 15</span>
                                </div>
                            </div>
                        </div>*@
                    </div>
                    <!--helps-->
                    <div class="row tab-pane fade in" id="help-tab">
                        <profile-mission-list v-bind:missions="helps" v-bind:link_to="'/Mission/AcceptHelp?id='"></profile-mission-list>
                    </div>
                    <!--gives-->
                    <div class="row tab-pane fade in" id="give-tab">
                        <profile-mission-list v-bind:missions="gives" v-bind:is_give="true" v-bind:link_to="'/Mission/GiveHelp?id='"></profile-mission-list>
                    </div>
                    <div class="row tab-pane fade in" id="store-tab">
                        <div class="col-lg-12 profile-list" v-for="prop in props">
                            <div class="col-lg-2 profile_imgbox">
                                <a v-bind:title="prop.EffectName">
                                    <img class="image-mission" v-bind:src="'../Content/Image/'+prop.EffectInfo.Image" />
                                </a>
                            </div>
                            <div class="col-lg-10">
                                <div class="profile-content-detail">
                                    <a v-bind:title="prop.EffectName">{{prop.EffectInfo.EffectName}}</a>
                                    <span>x {{prop.Count}}</span>
                                    @*<button class="btn btn-warning">使用道具</button>*@
                                    <p>{{prop.EffectInfo.EffectDescription}}</p>
                                </div>
                                <div class="profile-content-info">
                                    <img class="image-egg-small" src="~/Content/Image/egg2.png" />
                                    <span>x {{prop.EffectInfo.Cost}}</span>
                                    <button class="btn btn-super pull-right" v-on:click="buyProp(prop)">
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i> 購買道具
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!-- by money-->
                        <div class="col-lg-12 profile-list" v-for="prop in propsOthers">
                            <div class="col-lg-2 profile_imgbox">
                                <a v-bind:title="prop.Title">
                                    <img class="image-mission" v-bind:src="'../Content/Image/'+prop.Image" />
                                </a>
                            </div>
                            <div class="col-lg-10">
                                <div class="profile-content-detail">
                                    <a v-bind:title="prop.Title">{{prop.Title}}</a>
                                    <p v-html="prop.Description"></p>
                                </div>
                                <div class="profile-content-info">
                                    <img class="image-egg-small" v-bind:src="'../Content/Image/'+prop.Pay" />
                                    <span>x {{prop.Cost}}</span>
                                    <button class="btn btn-super pull-right" v-on:click="notYet">
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i> 購買商品
                                    </button>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-lg-12 profile-list">
                            <div class="col-lg-2 profile_imgbox">
                                <a title="超人內褲">
                                    <img class="image-mission" src="~/Content/Image/prop-underwear.svg" />
                                </a>
                            </div>
                            <div class="col-lg-10">
                                <div class="profile-content-detail">
                                    <a title="超人內褲">超人內褲</a>
                                    <span>x 12</span>
                                    <button class="btn btn-warning">使用道具</button>
                                    <p>內褲內褲內褲內褲內褲</p>
                                </div>
                                <div class="profile-content-info">
                                    <img class="image-egg-small" src="~/Content/Image/egg2.png" />
                                    <span>x 15</span>
                                    <button class="btn btn-super pull-right"><i class="fa fa-shopping-cart" aria-hidden="true"></i> 購買道具</button>
                                </div>
                            </div>
                        </div>*@
                    </div>
                    <!--helps_history-->
                    <div class="row tab-pane fade in" id="history-help-tab">
                        <profile-mission-list v-bind:missions="helps_history" v-bind:link_to="'/Mission/AcceptHelp?id='"></profile-mission-list>
                    </div>
                    <!--gives_history-->
                    <div class="row tab-pane fade in" id="history-give-tab">
                        <profile-mission-list v-bind:missions="gives_history" v-bind:is_give="true" v-bind:link_to="'/Mission/GiveHelp?id='"></profile-mission-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--memberInfo-->
    <!--style="display:none;position:absolute;top:0px;left:0px;"-->
    <div style="display:none;position:absolute;top:0px;left:0px;position:absolute;top:100px;left:100px;z-index:10" class="col-lg-3 col-xs-10" id="memberInfo">
        <div class="row">
            <div class="col-lg-12" style="background-color:#333;padding:10px">
                <div class="circular-portrait" style="margin:15px auto;" >
                    @*<img alt="" src="../Content/Image/Chris.png">*@<!--default-->
                    <img alt="" v-if="memberInfo.Image=='' " class="cover" v-bind:src="defaultImageSrc"><!--default-->
                    <img alt="" v-else class="cover" v-bind:src="memberInfo.Image">
                </div>
                @*<div class="member-info-font">Master Clean</div>*@
                <div class="member-info-button" style="width:50%">{{memberInfo.Name}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 member-info-detail" style="">
                <div class="member-info-font" style="line-height: 1;">Favorable<br /><span>{{memberInfo.Good}}</span></div>
            </div>
            <div class="col-lg-6 member-info-detail" style="">
                <div class="member-info-font" style="line-height: 1;">Bad<br /><span>{{memberInfo.Bad}}</span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 member-info-detail detail-oneline" style="">
                <img class="contain" src="../Content/Image/phone.png" />
            </div>
            <div class="col-lg-10 member-info-detail detail-oneline" style="">
                <div class="member-info-font" style="line-height: 1;text-align:right">{{memberInfo.Phone}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 member-info-detail detail-oneline" style="">
                <img class="contain" src="../Content/Image/mail.png" />
            </div>
            <div class="col-lg-10 member-info-detail detail-oneline" style="">
                <div class="member-info-font" style="line-height: 1;text-align:right">{{memberInfo.Email}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 member-info-detail detail-oneline" style="">
                <img class="contain" src="../Content/Image/message.png" />
            </div>
            <div class="col-lg-10 member-info-detail detail-oneline" style="">
                <div class="member-info-font" style="line-height: 1;text-align:right">{{memberInfo.Line}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 member-info-detail detail-oneline" style="background-color:#848484;padding:5px">
                <img class="contain" src="../Content/Image/egg2.png" />
            </div>
            <div class="col-lg-10 member-info-detail detail-oneline" style="background-color:#848484;padding:5px">
                <div class="member-info-font" style="line-height: 1;text-align:right">{{memberInfo.Star}}</div>
            </div>
        </div>
        @*<div class="row">
            <div class="col-lg-2" style="background-color:#fcd4d4;padding:5px">
                <div class="member-info-font" style="line-height: 1;">筆</div>
            </div>
            <div class="col-lg-10" style="background-color:#fcd4d4;padding:5px">
                <div class="member-info-font" style="line-height: 1;text-align:right">Edit</div>
            </div>
        </div>*@
    </div>

            <script src="@Html.ScriptUrl("Profile.js")"></script>
            


