/*SearchMission page start*/
#mission-content {
    position: relative;
}

#show-mission {
    position: absolute;
    z-index: 3;
    padding: 5px;
    margin: 5px;
    background-color: #fff;
    cursor: pointer;
}

#mission-info {
    width: 30%;
    position: absolute;
    z-index: 3;
    padding: 5px;
    margin: 5px;
    background-color: #fff;
}

    #mission-info .hide-mission {
        float: right;
        padding: 0px 5px 5px 5px;
        margin: 5px;
        background-color: #fff;
        cursor: pointer;
    }

.img-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

#search-type img {
    width: 50px;
    height: 50px;
    margin-right: 30px;
    cursor: pointer;
    opacity: 0.5;
}

    #search-type img:hover {
        width: 50px;
        height: 50px;
        margin-right: 30px;
        cursor: pointer;
        opacity: 1;
        box-shadow: 0 0 10px #ccc;
    }

.clear {
    margin-top: 10px;
}
/*SearchMission page end*/
