#banner-1, #banner-2, #banner-3, #banner-4, #banner-5, #banner-6, #banner-7{
    min-height: 950px;
    background: #eee;
}

.banner-1 > div.row > img{
    width: 100%;
    margin-top: 140px;
}
#banner-2{
    background-image:url(../img/Banner1_2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:100% 60%;
}

#banner-3{
    background-image:url(../img/Banner2_v2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:100% 85%;
}

#banner-4{
    background-image:url(../img/Banner3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:100% 80%;
}

#banner-5{
    background-image:url(../img/Banner4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90% 50%;
}

#banner-6{
    background-image:url(../img/Banner5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:100% 80%;
}

#banner-7{
    background-image:url(../img/Banner6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
}