@using SuperMan.Common;

<link rel="stylesheet" href="@Html.CssUrl("custom.css")" />

<div class="container">
    <div class="row">
        <h2 style="text-align:center">HELP ME</h2>

        <div class="col-lg-6">
            <div class="progress">
                <div class="circle done">
                    <span class="label">1</span>
                    <span class="title">Create</span>
                </div>
                <span class="bar done"></span>
                <div class="circle done">
                    <span class="label">2</span>
                    <span class="title">Wait</span>
                </div>
                <span class="bar done"></span>
                <div class="circle active">
                    <span class="label">3</span>
                    <span class="title">Processing</span>
                </div>
                <span class="bar"></span>
                <div class="circle">
                    <span class="label">4</span>
                    <span class="title">Complete</span>
                </div>
            </div>
            <div id="superman-list"></div>
        </div>
        <div class="col-lg-6">
            <form class="form-horizontal well">
                <div id="mission-title" class="form-group">
                    <label class="col-sm-3 control-label">任務名稱:</label>
                    <div class="col-sm-9">
                        <p class="form-control-static"></p>
                    </div>
                </div>
                <div id="mission-detail" class="form-group">
                    <label class="col-sm-3 control-label">任務資訊:</label>
                    <div class="col-sm-9">
                        <p class="form-control-static"></p>
                    </div>
                </div>
                <div id="mission-reward" class="form-group">
                    <label class="col-sm-3 control-label">任務獎勵:</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            <img class="img-circle" src="@Html.ImageUrl("egg2.png")" />
                            <strong>x<span></span></strong>
                        </p>
                    </div>
                </div>
            </form>

            <div id="map"></div>
        </div>
    </div>
</div>

<script src="@Html.ScriptUrl("AcceptHelp.js")"></script>

<script>


    var missionId = @ViewBag.MissionId;
    $(document).ready(function () {
        google.maps.event.addDomListener(window, 'load', initMap);
        InitAcceptHelp(missionId);
    });
</script>
