@using SuperMan.Common;

<link rel="stylesheet" href="@Html.CssUrl("custom.css")" />

<div class="container">
    <div class="row">
        <div class="row">
            <div class="progress">
                <div class="circle done">
                    <span class="label">1</span>
                    <span class="title">Create</span>
                </div>
                <span class="bar done"></span>
                <div class="circle done">
                    <span class="label">2</span>
                    <span class="title">Wait</span>
                </div>
                <span class="bar done"></span>
                <div class="circle active">
                    <span class="label">3</span>
                    <span class="title">Processing</span>
                </div>
                <span class="bar"></span>
                <div class="circle">
                    <span class="label">4</span>
                    <span class="title">Complete</span>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div id="superman-list" style="display: none">
                <div id="superman-list-seller" style="display: none">
                    <h5 id="seller">合作商家</h5>
                    <div class="list-container"></div>
                </div>
                <hr style="display: none" />
                <div id="superman-list-normal" style="display: none">
                    <h5 id="normal">熱心超人</h5>
                    <div class="list-container"></div>
                </div>
            </div>
            <div id="superman-selected"></div>
            <div id="evaluation" class="well row" style="display: none">
                <h4 style="text-align: center">評價</h4>

                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">對方給您:</label>
                        <div class="col-sm-9">
                            <p class="form-control-static">尚未給評</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">您給對方:</label>
                        <div id="eva-choice-container" class="col-sm-6">
                            <label class="radio-inline">
                                <input class="eva-choice" type="radio" name="optradio" value="GOOD">GOOD</label>
                            <label class="radio-inline">
                                <input class="eva-choice" type="radio" name="optradio" value="BAD">BAD</label>
                        </div>
                        <div class="col-sm-3">
                            <button id="eva-btn" type="button" class="btn btn-primary" onclick="SendEvaluation(this)" disabled="disabled">送出評價</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-6">
            <form class="form-horizontal well">
                <div id="mission-title" class="form-group">
                    <label class="col-sm-3 control-label">任務名稱:</label>
                    <div class="col-sm-9">
                        <p class="form-control-static"></p>
                    </div>
                </div>
                <div id="mission-detail" class="form-group">
                    <label class="col-sm-3 control-label">任務資訊:</label>
                    <div class="col-sm-9">
                        <p class="form-control-static"></p>
                    </div>
                </div>
                <div id="mission-reward" class="form-group">
                    <label class="col-sm-3 control-label">任務獎勵:</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            <img class="img-circle" src="@Html.ImageUrl("egg2.png")" />
                            <strong>x<span></span></strong>
                        </p>
                    </div>
                </div>
            </form>

            <div id="map"></div>
        </div>
    </div>
</div>

<script src="@Html.ScriptUrl("AcceptHelp.js")"></script>

<script>


    var missionId = @ViewBag.MissionId;
    $(document).ready(function () {
        InitAcceptHelp(missionId);
    });
</script>
