@using SuperMan.Common;

<link rel="stylesheet" href="@Html.CssUrl("custom.css")" />

<div class="container">
    <div class="row">
        <div class="row">
            <div class="progress">
                <div class="circle done">
                    <span class="label">1</span>
                    <span class="title">Givehand</span>
                </div>
                <span class="bar done"></span>
                <div class="circle done">
                    <span class="label">2</span>
                    <span class="title">Processing</span>
                </div>
                <span class="bar done"></span>
                <div class="circle active">
                    <span class="label">3</span>
                    <span class="title">Complete</span>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div id="memberInfo" class="well row">
                <div class="row">
                    <div class="eva-container">
                        <div class="evabar" style="width:20%"></div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <img class="img-circle-normal" src="../Content/Image/user-shape.svg" />
                    <p>童俊傑分身</p>
                </div>
                <div class="col-lg-2">
                    <img class="img-square-normal" src="../Content/Image/medal-copper-service.svg" title="專業 / 維修 [銅]" />
                </div>
                <div class="col-lg-5">
                    <p>Email : jt58@newegg.com</p>
                    <p>Phone : 0911</p>
                    <p>Line : adfaeww</p>
                </div>
            </div>
            <div id="evaluation" class="well row">
                <h4 style="text-align:center">評價</h4>

                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">對方給您:</label>
                        <div class="col-sm-9">
                            <p class="form-control-static">尚未給評</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">您給對方:</label>
                        <div class="col-sm-6">
                            <label class="radio-inline"><input type="radio" name="optradio">GOOD</label>
                            <label class="radio-inline"><input type="radio" name="optradio">BAD</label>
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-primary">送出評價</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-6">
            <form class="form-horizontal well">
                <div id="mission-title" class="form-group">
                    <label class="col-sm-3 control-label">任務名稱:</label>
                    <div class="col-sm-9">
                        <p class="form-control-static"></p>
                    </div>
                </div>
                <div id="mission-detail" class="form-group">
                    <label class="col-sm-3 control-label">任務資訊:</label>
                    <div class="col-sm-9">
                        <p class="form-control-static"></p>
                    </div>
                </div>
                <div id="mission-reward" class="form-group">
                    <label class="col-sm-3 control-label">任務獎勵:</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            <img class="img-circle" src="@Html.ImageUrl("egg2.png")" />
                            <strong>x<span></span></strong>
                        </p>
                    </div>
                </div>
            </form>
            <div id="map"></div>
        </div>
    </div>
</div>

<script src="@Html.ScriptUrl("GiveHelp.js")"></script>

<script>
    var missionId = @ViewBag.MissionId;
    $(document).ready(function () {
        InitGiveHelp(missionId);
    });
</script>
