@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="gradient">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 login-left ">
                <h3>Help me & Give a Hand，讓你和世界各地保持聯繫，隨時幫忙或求助生活中的每一個困難。</h3>
                <img src="https://www.facebook.com/rsrc.php/v3/yx/r/pyNVUg5EM0j.png" />
            </div>
            <div class="col-lg-5 login-right">
                <h2>註冊</h2>
                <h4>永遠免費!</h4>
                <h6>您可以選擇連結社交網站:</h6>
                <div id="fb-regiest"> 
                    <button class="btn btn-default fb-login-button" data-size="large" data-show-faces="false" data-auto-logout-link="true">Facebook Login</button>
                    <h6>您已經登入FB</h6>
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="inputUserId" />
                    </div>
                </div>
                <div id="email-regiest">
                    <h6>或是使用Email註冊:</h6>
                    <div class="form-group">
                        <input type="email" class="form-control" id="inputRegiestEmail" placeholder="Email">
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label for="exampleInputName">姓名</label>
                    <input type="text" class="form-control" id="inputPassword" placeholder="姓名">
                </div>
                <div id="email-input">
                    <div class="form-group">
                        <label for="exampleInputName">Email</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword">手機</label>
                    <input type="tel" class="form-control" id="inputPassword" placeholder="手機">
                </div>
                <div class="form-group">
                    <label for="exampleInputLine">通訊軟體(Line、QQ、微信、IG...)</label>
                    <input type="text" class="form-control" id="inputLine" placeholder="Line、QQ、微信、IG...">
                </div>

                <button type="submit" class="btn btn-super">建立帳號</button>
            </div>
        </div>
    </div>
</div>

